<body>
	<% for(var i=rows.length; i >= Math.max(rows.length - listLength, 2); i--){ %>
		<%if (rows[i] != null) { %>
			<%if (rows[i][0][0] > 0) { %>
				<div class = "info-row">
					<div class = "info-tile info-amount"><%= rows[i][0][0]%></div>
					<div class = "info-tile info-price"><%= rows[i][0][1]%></div>
					<div class = "info-tile info-value" style = "background-color: #e2fee2"><%= Math.round(100 * Math.abs(rows[i][0][1]*rows[i][0][0])) / 100%></div>
					<div class = "info-tile info-timestamp"><%= rows[i][0][2]%></div>		
				</div>
			<% }else { %>
				<div class = "info-row">
					<div class = "info-tile info-amount"><%= rows[i][0][0]%></div>
					<div class = "info-tile info-price"><%= rows[i][0][1]%></div>
					<div class = "info-tile info-value" style = "background-color: #fee2fe"><%= Math.round(100 * Math.abs(rows[i][0][1]*rows[i][0][0])) / 100%></div>
					<div class = "info-tile info-timestamp"><%= rows[i][0][2]%></div>		
				</div>
			<% } %>
		<% } %>
	<% } %>
</body>